<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    
    <h1>The total no of users are :- <%= count %> </h1>
    <form action="/users/add" method="get">
        <button>join usss today </button>
    </form>
</body>
</html>